@page "/counter"
@inherits DatabindingDemoBase
@rendermode InteractiveServer

<h1>Data Binding Demo</h1>
<hr />
<h3>One Way Data Binding</h3>
<div>
	<p>Name Mr.: @Name</p>
</div>
<hr />
<div>
	<b>Name : </b><input value="@Name" @onchange="@(e => {Name = e.Value.ToString();})"/>
</div>
<div>
	<b>Name : </b><input @bind="Name" @bind:event="oninput"/>
</div>
<hr />
<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}