@page "/"
@rendermode InteractiveServer
@inherits EmployeeListBase



<h3>Employee List</h3>
<input type="checkbox" id="showFooter" @bind="ShowFooter" />
<label for="showFooter">Show Footer</label>
@if (Employees == null)
{
    <p><em>Loading...</em></p>
    <div class="spinner"></div>
}
else
{
    <div class="row">
        @foreach (var employee in Employees)
        {
            <div class="col-sm-12 col-md-6 col-lg-4">
                <DisplayEmployee Employee="employee" ShowFooter="ShowFooter" />
            </div>
        }
    </div>
}
