@page "/account/manage/logout"
@using static Microsoft.EntityFrameworkCore.DbLoggerCategory
@Model LogoutModel
@{
	ViewData["Title"] = "Log out";
}
<header>
	<h1>@<Component /></h1>
	<p class="text-danger">You have been logged out.</p>
</header>
